<div class="col-md-6">
  <h2 class="text-center">Edit User</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input type="city" formControlName="city" placeholder="City" name="city" class="form-control" id="city">
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input type="age" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="mobileNumber">Mobile Number:</label>
      <input type="mobileNumber" formControlName="mobileNumber" placeholder="Mobile Number" name="mobileNumber"
        class="form-control" id="mobileNumber">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>
