<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <input formControlName="city" placeholder="City " name="City" class="form-control" id="city">
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input formControlName="age" placeholder="Age " name="Age" class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="mobileNumber">Mobile Number:</label>
      <input formControlName="mobileNumber" placeholder="Mobile number " name="mobileNumber" class="form-control"
        id="mobileNumber">
    </div>

    <button type="submit" class="btn btn-success">Add</button>
  </form>
  <div [hidden]="!submitted">User Created Successfully</div>
</div>
